<!doctype html>
<html lang="en">

  <head>
    <!-----------------------------------Required_meta_tags------------------------------------->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-----------------------------------/Required_meta_tags------------------------------------->

    <!-------------------------------------Bootstrap_CSS------------------------------------->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <!-------------------------------------/Bootstrap_CSS------------------------------------->

    <!-------------------------------------Material_Design_Bootstrap------------------------------------->
    <link href="/static/css/mdb.min.css" rel="stylesheet">
    <!-------------------------------------/Material_Design_Bootstrap------------------------------------->

    <!-------------------------------------Your_custom_styles(optional)------------------------------------->
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <!-------------------------------------/Your_custom_styles(optional)------------------------------------->
    <title>ALMATELL</title>
  </head>

  <body >
    <header>
      <!------------------------------------------------Navbar-------------------------------------------------->
      <nav class="navbar navbar-expand-lg navbar-dark  fixed-top rgba(255, 235, 59, 0.1) rgba-yellow-slight">
        <div class="container ">
          <a class="navbar-brand" href="/">
            <img src="/static/images/logo.png" width="190px" height="60px" alt="">
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse " id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item ">
                <a class="nav-link black-text" href="/">ACCUEIL
                  <span class="sr-only">(current)</span>
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link black-text " href="/about">QUI SOMMES NOUS</a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link black-text" href="/nos_tarifs">NOS TARIFS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link black-text" href="/contact">CONTACT</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!------------------------------------------------/Navbar-------------------------------------------------->

      <div id="pic d-flex justify-content-center">

        <!------------------------------------------------Carousel_Wrapper-------------------------------------------------->
        <div id="carousel-example-1z" class="carousel slide carousel-fade" data-ride="carousel">

          <!------------------------------------------------Slides-------------------------------------------------->
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <img class="d-block w-100 slide" src="/static/images/arlington-research-kN_kViDchA0-unsplash (1).jpg" alt="First slide">
            </div>

            <div class="carousel-item">
              <img class="d-block w-100 slide" src="/static/images/1.png" alt="Second slide">
            </div>

            <div class="carousel-item">
              <img class="d-block w-100 slide" src="/static/images/2.jfif" alt="Second slide">
            </div>

            <div class="carousel-item">
              <img class="d-block w-100 slide" src="/static/images/3.png" alt="Second slide">
            </div>

            <div class="carousel-item">
              <img class="d-block w-100 slide" src="/static/images/BSS-detail--1900x1069.jpg" alt="Second slide">
            </div>
            
            <div class="carousel-item">
              <img class="d-block w-100 slide" src="/static/images/intro.png" alt="Third slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100 slide" src="/static/images/photo.jpeg" alt="Third slide">
            </div>
          </div>
          <!------------------------------------------------/Slides-------------------------------------------------->
          
          <!------------------------------------------------Controls-------------------------------------------------->
          <a class="carousel-control-prev " href="#carousel-example-1z" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon fle" aria-hidden="true"></span>
          <i class="fas fa-angle-left fa-4x text-default"></i>
          </a>
          <a class="carousel-control-next " href="#carousel-example-1z" role="button" data-slide="next">
          <span  class="carousel-control-next-icon fle" aria-hidden="true"></span>
          <i class="fas fa-angle-right fa-4x text-default"></i>
          </a>
          <!------------------------------------------------/Controls-------------------------------------------------->

        </div>
        <!------------------------------------------------/Carousel_Wrapper-------------------------------------------------->
     
      </div>
    </header>

    <main class=" rgba(255, 235, 59, 0.1) rgba-yellow-slight"><br><br><br><br>
      <h1 class="d-flex justify-content-center font-weight-bold black-text title h1 my-4">ALMATELL PRISE DE RENDEZ-VOUS QUALIFIÉS</h1>
      <!------------------------------------------------container_1-------------------------------------------------->
      <div class="container">
        <div class="row">
          <div class="col">
            <i class="fas fa-headset fa-4x text-default"></i>
            <h3 class="font-weight-bold "> Centre d’appel : PRISE DE RENDEZ-VOUS QUALIFIÉS (Prise de RDV)</h3>
              ALMATELL est le spécialiste de la prise de rendez-vous qualifiés.
              Nous développons et raffinons nos méthodes de prise de rendez-vous jour après jour afin d’augmenter à la fois les résultats et la satisfaction de nos clients. 
              En tout, 85 % de nos activités sont dédiées à la prise de RDV télémarketing auprès des entreprises ou des particulier.
          </div>
          <div class="col">
            <i class="fas fa-stream fa-4x text-default"></i>
            <h3 class="font-weight-bold ">Voici ce que nous pouvons accomplir pour vous et votre équipe de vente :</h3>
              Pré-qualifier un bassin de clients potentiels selon plusieurs de vos critères de démarchage. <br>
              Fixer des rendez-vous qualifiés avec vos clients potentiels et les confirmer. <br>
              Transmettre des outils de vente à vos clients potentiels avant ou après le rendez-vous.
          </div>
        </div><br><br>
        <div class="row">
            <i class="fas fa-chess-knight fa-4x text-default "></i>
            <div class="col">
              <h3 class="font-weight-bold "> Centre d’appel : AVANTAGES ET BÉNÉFICES DE LA PRISE DE RENDEZ-VOUS ( prise de RDV) </h3>
              <h5> Vos besoins et situations en démarchage:</h5>
            </div>
        </div><br>
        <div class="row">
          <div class="col">
            <h5>1/ Augmenter le nombre de clients: </h5>
            – Sortir les représentants du bureau<br>
            – Pas de temps pour solliciter ou le démarchage<br>
            – Établir un bureau à l’extérieur<br>
          </div>
          <div class="col">
            <h5>2/ Vos avantages et bénéfices:</h5>
            – Plusieurs rendez-vous fixés par semaine<br>
            – Plus de rencontres de clients potentiels <br>
            – Missions commerciales efficaces<br>
            – Assurance de la continuité du démarchage<br>
            – Visites de développement rentabilisées <br>
          </div>
          <div class="col">
            <h5>3/ Nos caractéristiques pour la prise de rendez-vous:</h5>
            – Agents de centre d’appels polyglottes<br>
            – Bases de données ciblées<br>
            – Gestion informatisée des agendas<br>
            – Agents diplômés et formés en télémarketing<br>
            – Connaissance des réalités locales<br>
          </div>
        </div>
      </div><br><br><br>
      <!------------------------------------------------/container_1-------------------------------------------------->

      <!------------------------------------------------container_2-------------------------------------------------->
      <div class="container " >
        <div class="row">
          <div class="col-sm">
            <img src="/static/images/bureau.png" style="float: left; width: 550px;" alt="" >
          </div>
          <div class="col-sm">
            Un chef de projet et interlocuteur unique pour la réussite des missions que vous confiez à notre call center <br><br>
            <h4 class="font-weight-bold">Professionnalisme</h4>
            Nous Dédions un chef de projet unique dont la mission est de mettre en place vos opérations de prise de rdv,télévente,ou réception d’appels.il est chargé de coordonner les ressources du centre d’appels afin de réussir vos opérations
            de télémarketing avec une approche professionnelle et rompue aux pratique du métier de call center
          </div>
        </div>
      </div><br><br><br><br><br>
      <!------------------------------------------------/container_2-------------------------------------------------->

      <!------------------------------------------------container_3-------------------------------------------------->
      <div class="container " >
        <div class="row">
          <div class="col-sm">
            Notre call center vous concède toutes ses voix au service du développement de votre chiffre d’affaire <br><br>
            <h4 class="font-weight-bold">Développement Commercial</h4>
            Nous Partageons avec vous toutes nos expériences dans la gestion des opérations de télémarketing afin que votre retour sur investissement soit au plus haut . Notre objectif est de vous convaincre que 
            les centres d’appels peut vous aider à faire rapidement votre chiffre d’affaire, et avoir un impact direct sur votre rentabilité
          </div>
          <div class="col-sm">
            Nous prenons en charge toutes vos prérogatives pour réussir les missions que vous soumettez à notre call center <br><br>
            <h4 class="font-weight-bold">Solutions sur mesure</h4>
            Que vous ayez testé votre projet dans un autre call center ou pas , nous adoptons votre besoin , l’entourons d’une attention particulière , et adaptons nos ressources et compétences a fin de bien le comprendre et y apporter le meilleur traitement possible . Dans notre centre d’appels Maroc , 
            nous avons su apprendre à être à l’écoute des demandes précises de nos client et aux cahier de charges de leurs projets télémarketing
          </div>
        </div>
      </div><br><br><br>
      <!------------------------------------------------container_3-------------------------------------------------->
    </main>
    <!-------------------------------------------------Footer--------------------------------------------------------->
    <footer class="page-footer font-small elegant-color-dark pt-4">

      <!--------------------------------------------------Footer_Links------------------------------------------------>
      <div class="container-fluid text-center text-md-left">

        <!--------------------------------------------------Grid_row-------------------------------------------------->
        <div class="row">

          <!--------------------------------------------------Grid_column---------------------------------------------->
          <div class="col-md-6 mt-md-0 mt-3">
            <img src="/static/images/logo.png" alt="ALMATELL" width="300px" height="100px">
            <h6 class="text-uppercase text-muted">PRISE DE RENDEZ-VOUS QUALIFIÉS</h6>
          </div>
          <!-------------------------------------------------/Grid_column---------------------------------------------->

          <hr class="clearfix w-100 d-md-none pb-3">

          <!--------------------------------------------------Grid_column---------------------------------------------->
          <div class="col-md-3 mb-md-0 mb-3">
            <h4 class="text-uppercase text-light Bold text">Contact</h4>
            <hr class="stylish-color-dark" width="75px" style="float: left;">
            <ul class="list-unstyled">
              <li>
                <a href="#!"><i class="fas fa-map-marker-alt"><br><br>Boulevard Prince Moulay Abdellah, Marrakech 40000</i></a>
              </li><br>

              <li>
                <a href="#!"><i class="fas fa-phone">  <br><br>+212 696 628 710<br>+212 524 244 192</i></a>
              </li><br>

              <li>
                <a href="#!"><i class="fas fa-envelope"><br><br>info@almatell.ma</i></a>
              </li>
            </ul>
          </div>
          <!--------------------------------------------------/Grid_column---------------------------------------------->

          <!--------------------------------------------------Grid_column---------------------------------------------->
          <div class="col-md-3 mb-md-0 mb-3">
            
            <h4 class="text-uppercase text-light Bold text">Suivez-nous</h4>
            <br><br>
            <ul class="list-unstyled d-flex justify-content-around">
              <li>
                <a href="https://www.facebook.com/"><i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i></a>
              </li>
              <br>
              <li>
                <a href="https://twitter.com/"><i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i></a>
              </li>
              <br>
              <li>
                <a href="https://fr.linkedin.com/"><i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i></a>
              </li>
              <br>
              <li>
                <a href="https://www.instagram.com/"><i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i></a>
              </li>
            </ul>

          </div>
          <!--------------------------------------------------/Grid_column---------------------------------------------->

        </div>
        <!--------------------------------------------------Grid_row-------------------------------------------------->

      </div>
      <!--------------------------------------------------/Footer_Links------------------------------------------------>
      <hr class="stylish-color-dark mx-auto" width="1000px">
      <!---------------------------------------------------Copyright----------------------------------------------------->
      <div class="footer-copyright text-center py-3 elegant-color-dark">© 2020 Copyright:
        <a href="/">ALMATELL </a>   by:Walid DAMOU
      </div>
      <!---------------------------------------------------/Copyright----------------------------------------------------->
    </footer>
    <!-------------------------------------------------Footer--------------------------------------------------------->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/static/js/jquery-3.5.1.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="/static/js/bootstrap.min.js"></script>
  </body>

</html>