<!doctype html>
<html lang="en">

  <head>
    <!-----------------------------------Required_meta_tags------------------------------------->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-----------------------------------/Required_meta_tags------------------------------------->
    
    <!-------------------------------------Bootstrap_CSS------------------------------------->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <!-------------------------------------/Bootstrap_CSS------------------------------------->

    <!-------------------------------------Material_Design_Bootstrap------------------------------------->
    <link href="/static/css/mdb.min.css" rel="stylesheet">
    <!-------------------------------------/Material_Design_Bootstrap------------------------------------->

    <!-------------------------------------Your_custom_styles(optional)------------------------------------->
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <script src="/static/js/jquery-3.5.1.min.js"></script>
    <title>ALMATELL</title>
    <!-------------------------------------/Your_custom_styles(optional)------------------------------------->
  </head>

  <body>
    <header >
      <!------------------------------------------------Navbar-------------------------------------------------->
      <div>
        <nav class="navbar navbar-expand-lg navbar-dark  fixed-top rgba(255, 255, 255, 0.1) rgba-white-slight">
          <div class="container ">
            <a class="navbar-brand" href="/">
              <img src="/static/images/logo.png" width="40%" height="10%" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarResponsive">
              <ul class="navbar-nav ml-auto">

                <li class="nav-item ">
                  <a class="nav-link text-muted" href="/">ACCUEIL
                    <span class="sr-only">(current)</span>
                  </a>
                </li>

                <li class="nav-item">
                  <a class="nav-link  text-muted" href="/about">QUI SOMMES NOUS</a>
                </li>
                
                <li class="nav-item">
                  <a class="nav-link text-muted" href="/nos_tarifs">NOS TARIFS</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-muted" href="/contact">CONTACT</a>
                </li>

              </ul>
            </div>
          </div>
        </nav>
      </div> 
      <!------------------------------------------------/Navbar-------------------------------------------------->

      <!------------------------------------------------Mask-------------------------------------------------->
      <div id="intro" class="view ">
        <div class="img-fluid acc"  alt=""><br><br><br><br>
          <div class="pp ">
            <h3 id="nos" class="d-flex justify-content-center font-weight-bold text-white title h1 my-4 ">NOS DOMAINES D'EXPERTISE</h3>
            <h4 id="icbm" class="d-flex justify-content-center text-light">Isolation  Charpente - Bilan énergétique - Mutuelle</h4><br>
            <a  href="/about"><button type="button" id="div3" class="btn  text-white info-color-dark #0099CC font-weight-bold" style="width: 230px; margin-left: 35%; font-size: 0.9em;">EN SAVOIR PLUS</button></a>
            <a  href="/contact"><button type="button" id="div4" class="btn  #ffffff white font-weight-bold" style="width: 230px; margin-left: 52%; margin-top: -5.3%; font-size: 0.9em;">CONTACTEZ-NOUS</button></a>
          </div>

          <!------------------------------------------------scroll-down-------------------------------------------------->
          <div class="d-flex justify-content-center scrolldown">
            <a href="#scroll"><img  src="/static/images/arrow-down-animated-1.gif" width="60px" height="40px"></a>
          </div>
          <!------------------------------------------------/scroll-down-------------------------------------------------->

        </div>
      </div>
      <!------------------------------------------------/Mask-------------------------------------------------->

    </header> 
    <div id="scroll"></div>
    <main>
      <!------------------------------------------------INFO_ACC-------------------------------------------------->
      <br><br><br><br><br><br>
      <div class="container">
        <div class="row">
          <!------------------------------------------------NOS_VALEURS-------------------------------------------------->
          <div class="col-sm">
            <i class="fas fa-trophy mdb-gallery-view-icon fa-4x cyan-text" ></i><br><br>
            <h3 class="font-weight-bold text-info">Nos valeurs</h3><br>
            <p>La transparence à travers la traçabilité de l’ensemble de la prestation. <br>
              Respect des délais. <br>
              La réactivité et l’efficacité avec des mises en place et des démarrages dans les 24 heures et des livraisons dans les heures qui suivent l’arrêt des terrains. <br>
              Tirer la meilleure partie de notre positionnement en offshore pour proposer les meilleurs tarifs.</p>
          </div>
          <!------------------------------------------------/NOS_VALEURS-------------------------------------------------->

          <!------------------------------------------------NOTRE_MISSION-------------------------------------------------->
          <div class="col-sm">
            <i class="fas fa-book fa-4x cyan-text "></i><br><br>
            <h3 class="font-weight-bold text-info">Notre Mission</h3><br>
            <p>Proposer des solutions fiables et souples face aux défis et problématiques de nos clients en s’appuyant sur une équipe expérimentée et une infrastructure technique solide.</p>
          </div>
          <!------------------------------------------------/NOTRE_MISSION-------------------------------------------------->

          <!------------------------------------------------NOTRE_VISION-------------------------------------------------->
          <div class="col-sm">
            <i class="fas fa-bullseye fa-4x cyan-text"></i><br><br>
            <h3 class="font-weight-bold text-info ">Notre Vision</h3><br>
            <p>Le meilleur chemin vers le développement est le travail sur la qualité.</p>
          </div>
          <!------------------------------------------------/NOTRE_VISION-------------------------------------------------->
        </div>
      </div><br><br><br><br><br><br><br><br><br>
      <!------------------------------------------------/INFO_ACC-------------------------------------------------->

    </main>
    
    <!------------------------------------------------Google_Maps-------------------------------------------------->
    <div id="map-container-google-2" class="z-depth-1-half map-container " style="height: 450px;">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3396.8814407352343!2d-8.004906785001017!3d31.63709638133124!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xdafee628253123f%3A0x151c831b2d50f5a2!2sMarrakech%2040000!5e0!3m2!1sfr!2sma!4v1601809218074!5m2!1sfr!2sma" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
    <!------------------------------------------------/Google_Maps-------------------------------------------------->
    <!-------------------------------------------------Footer--------------------------------------------------------->
    <footer class="page-footer font-small elegant-color-dark pt-4">

      <!--------------------------------------------------Footer_Links------------------------------------------------>
      <div class="container-fluid text-center text-md-left">

        <!--------------------------------------------------Grid_row-------------------------------------------------->
        <div class="row">

          <!--------------------------------------------------Grid_column---------------------------------------------->
          <div class="col-md-6 mt-md-0 mt-3">
            <img src="/static/images/logo.png" alt="ALMATELL" width="300px" height="100px">
            <h6 class="text-uppercase text-muted">PRISE DE RENDEZ-VOUS QUALIFIÉS</h6>
          </div>
          <!-------------------------------------------------/Grid_column---------------------------------------------->

          <hr class="clearfix w-100 d-md-none pb-3">

          <!--------------------------------------------------Grid_column---------------------------------------------->
          <div class="col-md-3 mb-md-0 mb-3">
            <h4 class="text-uppercase text-light Bold text">Contact</h4>
            <hr class="stylish-color-dark" width="75px" style="float: left;">
            <ul class="list-unstyled">
              <li>
                <a href="#!"><i class="fas fa-map-marker-alt"><br><br>Boulevard Prince Moulay Abdellah, Marrakech 40000</i></a>
              </li><br>

              <li>
                <a href="#!"><i class="fas fa-phone">  <br><br>+212 696 628 710<br>+212 524 244 192</i></a>
              </li><br>

              <li>
                <a href="#!"><i class="fas fa-envelope"><br><br>info@almatell.ma</i></a>
              </li>
            </ul>
          </div>
          <!--------------------------------------------------/Grid_column---------------------------------------------->

          <!--------------------------------------------------Grid_column---------------------------------------------->
          <div class="col-md-3 mb-md-0 mb-3">
            
            <h4 class="text-uppercase text-light Bold text">Suivez-nous</h4>
            <br><br>
            <ul class="list-unstyled d-flex justify-content-around">
              <li>
                <a href="https://www.facebook.com/"><i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i></a>
              </li>
              <br>
              <li>
                <a href="https://twitter.com/"><i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i></a>
              </li>
              <br>
              <li>
                <a href="https://fr.linkedin.com/"><i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i></a>
              </li>
              <br>
              <li>
                <a href="https://www.instagram.com/"><i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i></a>
              </li>
            </ul>

          </div>
          <!--------------------------------------------------/Grid_column---------------------------------------------->

        </div>
        <!--------------------------------------------------Grid_row-------------------------------------------------->

      </div>
      <!--------------------------------------------------/Footer_Links------------------------------------------------>
      <hr class="stylish-color-dark mx-auto" width="1000px">
      <!-- Copyright -->
      <div class="footer-copyright text-center py-3 elegant-color-dark">© 2020 Copyright:
        <a href="/">ALMATELL </a>   by:Walid DAMOU
      </div>
      <!-- Copyright -->
    </footer>
    <!-------------------------------------------------Footer--------------------------------------------------------->


    <!------------------------------------------------Optional JavaScript--------------------------------------------->
    <!------------------------------------jQuery_first,then_Popper.js,then_Bootstrap JS------------------------------->
    <script src="/static/js/script.js"></script>
    <script src="/static/js/jquery-3.5.1.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="/static/js/bootstrap.min.js"></script>
  </body>

</html>